.out {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    color: #fff;

    margin-bottom: 1vh;
}

.out h1 {
    margin: 5px auto;
}

.textarea-out {
    height: 40vh;
}

.textarea {
    height: 100%;
}

.inputTextarea-out {
    height: 23vh;
}

.inputTextarea {
    height: 100%;
}

.result-out {
    height: 23vh;
}

.result {
    height: 100%;
}

.result:disabled {
    border-color: #fff;
}

.play {
    position: fixed;
    right: 5vw;
    bottom: 5vw;
    padding: 30px;
    border-radius: 999px;
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    color: #fff;
    text-align: center;
    background-color: rgb(85, 160, 0);
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 10;
}

.bar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(9, 65, 168);
    width: 100vw;
    height: 5px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

.spend-block {
    width: 90vw;
    display: flex;
}